* {
    box-sizing: border-box;
    font-size: 16px;
}
#header-nav {
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    height: 90px;
    background-color: rgb(30, 64, 78);
}
#header-nav .navbar-brand h1 {
    color: white;
    padding-bottom: 20px;
    margin-left: 30px;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -15px;
    border: 1px solid white;
}
.navbar-header .icon-bar {
    border:1px solid white;
}
#collapsable-navbar li:hover {
    background-color:white;
}
@media (max-width: 768px) {
    #collapsable-navbar {
        background-color: #222;
        text-align: center;
    }
}
#main-title {
    margin-top: 30px;
}
div.para {
    background-color: #ccf;
    padding: 5px 30px 20px;
    margin-top: 30px;
}
