@font-face {
    font-family: 'artha';
    src: url('../fonts/FNSanka.TTF');
}
@font-face {
    font-family: 'title-artha';
    src: url('../fonts/FRSCRIPT.TTF');
}

.artha {
    font-family: artha;
    font-weight: lighter;
    font-size: 1.1em;
}
.artha span {
    font-family: title-artha;
    font-size: 1.2em;
}

/* ******MAIN-CONTENT****** */

#main-content {
    margin: 0;
    padding: 25px 50px 20px;
    box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.562);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;
}
/* ***About Content */
#About {
    text-align: center;
}
h1 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3em;
    font-weight: normal;
    color: rgb(17, 17, 17);
    margin-bottom: 20px;
}
.about-artha {
    padding: 0 25px;
}
.event-tiles {
    /* background-color: black; */
    height: auto;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
.event-tiles div {
    width: 30%;
    padding: 5px 20px;
    margin-top: 10px;
    text-align: justify;
    background-color: rgb(228, 228, 228);
}
.event-tiles div h3 {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
.event-tiles div P {
    padding: 10px;
    border-radius: 5px;
    color: black;
}
.event-tiles div:hover {
    cursor: pointer;
    background-color: rgb(208, 218, 226);
    color: rgb(12, 65, 90);
    border-radius: 5px;
}
.tags {
    display: flex;
    justify-content: center;
    width: 100%;
}
.tags h3 {
    margin: 0 25px 25px;
    font-size: 1.5em;
    color: rgb(153, 153, 153);
}
.about-pb {
    padding: 0 25px;
    font-size: 1em;
    text-align: justify;
}
.about-pb span {
    font-weight: 900;
    font-size: 1.1em;
}
.about-pb span:hover {
    text-decoration: underline;
    color: rgb(12, 65, 90);
    cursor: pointer;
}

/* Events secttion */
#Events {
    text-align: center;
}
.events-header {
    padding: 0 25px;
}
h2.events {
    font-family: Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
    float: right;
    color: white;
    width: 60%;
    text-align: left;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.973);
    font-size: 4em;
    margin: 120px 0px 200px 0;
    text-transform: uppercase;
}
.events-header {
    position: relative;
}

.event-calendar {
    text-align: right;
    float: right;
    margin: 8vh 7vw 0 0;
    color: white;
    font-size: 1.1em;
}
.event-calendar h2 {
    font-size: 2em;
    text-shadow: 2px 2px 5px rgb(27, 27, 27);
}
.event-calendar p {
    color: rgb(27, 27, 27);
    letter-spacing: 3px;
    background-color: rgba(255, 255, 255, 0.521);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.event-calendar p.medium {
    display: none;
}
.events-image {
    background: url('../images/events1.jpg') no-repeat bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 400px;
}

@media (min-width: 641px) { /* To Position calender except for smallest screen */
    .calendar {
        position: absolute;
        bottom: 9%;
        left: 10vw;
    }
}
/* ****Medium Screen**** */
@media (max-width:1000px) {
    h1 {
        font-size: 3em;
    }
    .event-tiles {
        display: block;
    }
    .event-tiles div {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .event-tiles div h3 {
        text-align: left;
    }
    .tags {
        display: flex;
        font-size: 0.8em;
    }
    .event-calendar {
        margin-right: 30px;
    }
    .event-calendar h2 {
        font-size: 1.7em;
    }
    .event-calendar p.wide {
        display: none;
    }
    .event-calendar p.medium {
        font-size: 0.8em;
        display: block;
    }
}

/* ****SMALL SCREEN**** */
@media (max-width: 800px) {
    #main-content {
        padding: 25px 20px 20px;
    }
    .event-calendar h2 {
        display: none;
        position: absolute;
        text-align: center;
        top: 27%;
        left: 50px;
        font-size: 4vw;
    }
    .event-calendar p.medium {
        background: none;
        color: white;
        position: absolute;
        display: block;
        bottom: 360px;
        left: 50px;
    }
    h1 {
        font-size: 5vw;
        margin-bottom: 10px;
    }
}

/* ****SMALLER SCREEN***** */
@media (max-width: 640px) {
    .container {
        padding: 50px 10px 0;
    }
    h1 {
        font-size: 7vw;
        line-height: 25px;
        margin: 25px;
    }
    .about-artha {
        padding: 10px;
        font-size: 1em;
        text-align: justify;
    }
    .event-tiles {
        height: auto;
        padding: 0px;
        margin: 10px;
        display: block;
        justify-content: center;
    }
    .event-tiles div {
        width: 100%;
        padding: 0;
    }
    .event-tiles p {
        display: none;
    }
    .tags {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 0 auto;
    }
    .tags h3 {
        font-size: 1.2em;
        margin: 10px auto 20px;
    }
    .about-pb {
        padding: 10px;
    }

    #Events {
        padding: 25px;
        position: relative;
    }
    .events-header {
        margin: 10px;
        padding: 0px;
        text-align: center;
        justify-content: center;
    }
    h1.events {
        margin: 50px auto;
    }
    .events-image {
        display: none;
    }
    .calendar {
        background: white;
        margin-left: auto;
        margin-right: auto;
    }
    .event-calendar h2 {
        display: none;
    }
    .event-calendar p.medium {
        position: relative;
        display: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        top: -400px;
        left: 20px;
        width: 100%;
        color: black;
    }
}

/* ****EXTRA SMALL SCREEN**** */
@media (max-width: 400px) {
    h1.events {
        margin: 10px auto;
    }
    .events-image {
        display: none;
    }
    .calendar {
        display: none;
    }    
    .event-calendar p.medium {
        display: none;
    }
}