section.example {
    margin-top: 10vh;
    position: relative;
}
section div {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
}
.box1 {
    background:linear-gradient(135deg, rgb(20,50,90), rgb(20,90,50));
    position: fixed; top: 0; left: 0;
    z-index: 100;
}
.box2 {
    background:linear-gradient(135deg, rgb(90,20,50), rgb(50,20,90));
    position: absolute; top: -100px; left: 50px;
    z-index: 10;
}
.box3 {
    background:linear-gradient(45deg, rgb(17, 100, 79), rgb(190, 23, 51));
    position: relative; top: -150px; left: 100px;
    z-index: 1;
}